<footer class="foot-top"> 
  <div id="footer1">
    <img id="footerimg" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/13/CSU_Monterey_Bay_seal.svg/1200px-CSU_Monterey_Bay_seal.svg.png">
    <span id="foot"> CST 336 Internet Programming.
     2022© Martinez, Ansaldo, Haroon, Xihao <br>
      <strong id="disc">Disclaimer:</strong> The information on this webpage is fictitious. <br>
      It is used for academic purposes only. </span>
  </div>
  
</footer>