<%- include("partials/header.ejs") %>
  
<body>
  <header>
    <h1 class="com-title"> Home Screen </h1>
    <nav class="mod">
      <a class="com-nav" href="/home"> Home </a>
      <a class="com-nav" href="/addMovie"> Add a movie </a>
      <a class="com-nav" href="/addActor"> Add an actor </a>
      <a class="com-nav" href="/movies"> All Movies </a>
      <a class="com-nav" href="/actors"> All Actors </a>
      <a class="com-nav" href="/search"> Search </a>
      <a class="com-nav" href="/logout"> Logout </a>
    </nav>
    <br>
  </header>
  
  <%- include("partials/footer.ejs") %>
  
</body>
  
</html>