<%- include("partials/header.ejs") %>
  
<body>
  
  <header> 
    <h1 class="com-title"> Home Screen </h1>
    
    <nav class="mod">
      <a class="com-nav" href="/userPage"> Home </a>
      <a class="com-nav" href="/useractors"> All Actors </a>
      <a class="com-nav" href="/usermovies"> All Movies </a>
      <a class="com-nav" href="/searchuser"> Search </a>
      <a class="com-nav" href="/logout"> Logout </a>
    </nav>
  </header>
  
  <div class="foot-fixed ">
    <%- include("partials/footer.ejs") %>
  </div>
</body>
  
</html>